*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 700px;
}

.logo img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 100px 30% 0;
}
h2{
    color: #ccc;
    font-size: 20px;
    padding: 40% 0 10px 0;
    text-align: center;
}

h3, h4, h5{
    font-size: xx-small;
    text-align: center;
    padding: auto;
    color: #777;
}

.lets-go button{
    color: #ccc;
    background-color: rgb(5, 5, 51);
    width: 90%;
    margin: 10px;
    padding: 1rem;
    border: none;
    border-radius: 15px;
}